
# vim: ft=snippets

snippet #= ""
<%# ========================================================================= %>
<%# $1 %>
<%# ========================================================================= %>
endsnippet

