
# vim: ft=snippets

snippet = "Header 1"
${1:HEADER 1}
================================================================================
endsnippet

snippet - "Header 2"
${1:HEADER 2}
--------------------------------------------------------------------------------
endsnippet

snippet # "comment" b
[//]: # (${1:Comment goes here})
endsnippet

snippet ` "code" b
\`\`\`
	$1
\`\`\`
endsnippet

