
# vim: ft=snippets

# Hacky stuff to expand snippet
snippet snip "simple snippet" b
`echo snippet` ${1:trigger} "${2:definition}"
	$0
`echo endsnippet`
endsnippet

# Hacky stuff to expand snippet
snippet end "" b
`echo endsnippet`
endsnippet

snippet $ "" i
\${$1}
endsnippet

