
# vim: ft=snippets

# ==============================================================================
# COMNMENTS
# ==============================================================================
snippet #= "large header" b
" ==============================================================================
" $1
" ==============================================================================
endsnippet
snippet #- "small header" b
" --- $1 ---
endsnippet

