
# vim: ft=snippets
priority -1

# ==============================================================================
# ANSI
# ==============================================================================
snippet black "" w
\e[30m
endsnippet
snippet red "" w
\e[31m
endsnippet
snippet green "" w
\e[32m
endsnippet
snippet yellow "" w
\e[33m
endsnippet
snippet blue "" w
\e[34m
endsnippet
snippet magenta "" w
\e[35m
endsnippet
snippet cyan "" w
\e[36m
endsnippet
snippet white "" w
\e[37m
endsnippet

